$color-green: #13a10e;
$color-yellow: #ffc83d;
$color-white: #fafafa;
$color-black: #000000;
$light-mode-grey: #cccccc;
$light-mode-light-grey: #e0e0e0;
$dark-mode-grey: #8a8a8a;
$dark-mode-dark-grey: #5c5c5c;

$mode-transition: 0.25s;
